
#root ,html, body {
  margin:0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}



.App{
  
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); 
  background-size: contain;  
  display: flex;
  flex-direction: column;
  font-family: 'Staatliches', cursive;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  padding: 10px;
  background: orange;
  border: 3px solid darkslategrey;
}

.search-button{
  background: lightcoral;
  /* border: none; */
  border: 2px solid rgb(95, 65, 9);
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.search{
  margin-right: 10px;
  
}
.logo{
  font-size: 100px;
  display: flex;
  color: snow;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  
}